mtv
results/
*.o
debug.root
*.pdf
plots/
plots_*/
scripts/moduleconnection*.txt
*.root
.make.log*
bin/doAnalysis
bin/sdl
code/rooutil/librooutil.so
code/rooutil/rooutil.so
.gitversion.txt
efficiency/doAnalysis
.jobs.txt
efficiency/results*
efficiencies/
efficiency/bin/createEffNumDenPlots
*.txt
*.pyc
output*
movetoweb.sh
*.nvvp
*.md
*backup
