[submodule "syncfiles"]
	path = syncfiles
	url = git@github.com:Amarang/syncfiles.git
	branch = master
[submodule "plottery"]
	path = plottery
	url = git@github.com:sgnoohc/plottery.git
[submodule "cxxopts"]
	path = cxxopts
	url = git@github.com:jarro2783/cxxopts.git
	branch = master
